body {
	margin: 75px;
	height: 200px;
	line-height: 200px;
	text-align: center;
	background-image: url(background.jpg);
}

.block {
	color: white;
	background-color: black;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    height: 100px;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

