body {
	margin: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(background.jpg);
	
	min-height: 100%;
	min-width: 100%;
	color: white;
	text-align: center;
	font-size: 100%;
}

.title {
	margin-top: 250px;
	color: white;
}

.title > h1 {
	font-size: 4em;
}