body {
	height: 100%;
	margin: 0;
	
	background-size: cover;
	background-repeat: no-repeat;
	background-attatchment: fixed;

 	background-image: url(background.jpg);
	background-position: top;

	color: white;
	text-align: center;
	font-size: 100%;
}

.title {
	margin-top: 250px;
	color: white;
}

.search {
	background: black;
	background-image: none;
	padding: 20px;
}

.search .searchLabel {
	color: white;
	font-weight: bold;
	font-size: 18x;
	line-height: 3px;
	text-align: left;
}

search .searchButton {
	color: white;
	padding: 30px;
	
}

.search .searchItem {
    text-align: left;
}

.title > h1 {
	font-size: 4em;
}

table {
	background-color: black;
}
